*{
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: Poppins, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar{
    display: none;
}


html{
    font-family: Poppins, sans-serif;
    font-size: 1rem;
}


header{
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    width: 100%;

}

header *{
    /*align-items: center;*/

}

.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    width: 100vw;
    margin-bottom: 1rem;
    font-size: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 20%);
}

.navbar_container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;

}

.navbar_container ul li, a{
    cursor: pointer;
    color: black;
}

.nav_left{
    margin-left: 5vw;
}

.nav_left a{
    position: relative;
}

.login_link, .logout_link, .logout_link_li, .login_link_li{
    position: relative;
}

.nav_left a:after, .login_link:after, .logout_link:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background: black;
    bottom: -4px;
    left: 50%;
    transition: ease .5s;
}
.nav_left a:hover:after, .login_link:hover:after, .logout_link:hover:after{
    width: 100%;
    left: 0;
}

.nav_right{
    margin-right: 5vw;
}

.nav_left li{
    margin-right: 1.5rem;
}
.navbar_logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar_logo img{
    filter: invert(0%) sepia(93%) saturate(0%) hue-rotate(284deg) brightness(96%) contrast(107%);
    width: 2.5rem;
    transition: 0.5s ease;
}

.nav_right li{
    margin-left: 1.5rem;
    align-items: center;
}

.nav_right li:last-child img{
    width: 1vw;
    height: 1vw;
    /*transform: scale(1.4);*/
}

.nav_right li a{
    display: flex;
    align-items: center;
    justify-content: center;
}


.register_button{
    background: transparent;
    border: 2px solid #0077FF;
    padding: .4rem 1.5rem;
    border-radius: 100px;
    transition: color ease .5s, background ease .5s;
    color: #0077FF;
}

.register_button:hover{
    color: white;
    background: #0077FF;
}
.register_button:active{
}


/*FOOTER SECTION*/

.foot_container{
    height: 30vh;
    background-color: black;
    /*opacity: 5%;*/
    overflow: hidden;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 8vh;
}

.website, .access, .footer_logo{
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
}


.website a, .access a{
    font-size: 1rem;
    margin-bottom: 1vh;
}
.website a, .access a, .website h1, .access h1{
    color: white;
    font-family: Poppins, sans-serif;
}
.website h1, .access h1{
    font-weight: 600;
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;
    margin-bottom: 1vh;
}

.foot_content{
    display: flex;
    width: 100%;
    justify-content: left;
    color: white;
}

.foot_container img{
    filter: invert(99%) sepia(8%) saturate(41%) hue-rotate(264deg) brightness(114%) contrast(100%);
    width: 70px;
    height: 70px;
}



/*.nav_right li:nth-child(2):active{*/
/*    transform: scale(0.95);*/
/*}*/

/*.hover{*/
/*    position: relative;*/
/*}*/

/*.hover::after{*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    content: '';*/
/*    background: #000000;*/
/*    bottom: -21px;*/
/*    transition: ease-in-out .4s;*/
/*    opacity: 0;*/
/*}*/

/*.hover:hover::after{*/
/*    transform: scaleY(5);*/
/*    transform-origin: bottom;*/
/*    opacity: 100;*/
/*    bottom: -20px;*/
/*}*/

/*BOOTSTRAP CSS COPY*/

.fade.show {
    opacity: 1;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-dismissible {
    padding-right: 4rem !important;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}