{% extends "base.html" %}

{% block content %}

<!--<h1>Commented out so you can test without logging in</h1>-->
<!--<h1> Email:{{ email }}</h1>-->


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <h1 class="title is-4">Current Users</h1>
            {% if current_users %}
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Banned</th>
                        </tr>
                        {% for user in current_users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.banned }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <form method="POST">
                    {{ ban_form.csrf_token() }}
                    {{ ban_form.email_to_ban(class="input", placeholder="Enter user email") }}
                    {{ ban_form.submit(class="submit_button", value="Ban") }}
                    </form>
            {% endif %}


    <h1 class="title is-4">Banned Users</h1>
            {% if current_banned_users %}
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Banned</th>
                        </tr>
                        {% for user in current_banned_users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.banned }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <form method="POST">
                    {{ unban_form.csrf_token() }}
                    {{ unban_form.email_to_unban(class="input", placeholder="Enter user email") }}
                    {{ unban_form.submit(class="submit_button", value="Unban") }}
                    </form>
            {% endif %}



        <h1>Favourite Suppliers</h1>
  <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Supplier name</th>
                        </tr>
                        {% for i in current_favourites %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.supplier_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>

          <div class="favourite form">
        <form method="POST">
             {{ remove_favourite_form.csrf_token() }}
            {{ remove_favourite_form.favourite_supplier(class="input", placeholder="Enter favourite supplier") }}
            {{ remove_favourite_form.submit(class="submit_button", value="Remove") }}
        </form>
    </div>

<h1>Blacklisted Suppliers</h1>
  <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Supplier name</th>
                        </tr>
                        {% for i in current_blacklist %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.supplier_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>

        <form method="POST">
             {{ remove_blacklist_form.csrf_token() }}
            {{ remove_blacklist_form.blacklist_supplier(class="input", placeholder="Enter blacklist supplier") }}
            {{ remove_blacklist_form.submit(class="submit_button", value="Remove") }}
        </form>






        <h4 class="title is-4">Security Logs</h4>
            {% if logs %}
                <table class="table">
                    <tr>
                        <th>Last 10 Security Log Entries</th>
                    </tr>
                    {% for entry in logs %}
                        <tr>
                            <td>{{ entry }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
{% endblock %}