{% extends "base.html" %}

{% block content %}

<!--<h1>Commented out so you can test without logging in</h1>-->
<!--<h1> Email:{{ email }}</h1>-->


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <h1 class="title is-4">Current Users</h1>
            {% if current_users %}
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Banned</th>
                        </tr>
                        {% for user in current_users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.banned }}</td>
                                                  <form method="POST">
                <td><button type="submit" name="ban" value="{{ user.email }}"
                            formmethod="POST">Ban</button></td>
                   </form>
                            </tr>
                        {% endfor %}
                    </table>
            {% endif %}


    <h1 class="title is-4">Banned Users</h1>
            {% if current_banned_users %}
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Banned</th>
                        </tr>
                        {% for user in current_banned_users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.banned }}</td>
                                                  <form method="POST">
                <td><button type="submit" name="unban" value="{{ user.email }}"
                            formmethod="POST">Unban</button></td>
                   </form>
                            </tr>
                        {% endfor %}
                    </table>

            {% endif %}



        <h1>Favourite Suppliers</h1>
  <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Supplier name</th>
                        </tr>
                        {% for i in current_favourites %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.supplier_name }}</td>

                   <form method="POST">
                <td><button type="submit" name="remove_favourite" value="{{ i.supplier_name }}"
                            formmethod="POST">Remove</button></td>
                   </form>
                            </tr>

                        {% endfor %}
                    </table>
    <form method="POST">
             {{ fav_form.csrf_token() }}
            {{ fav_form.favourite_supplier(class="input", placeholder="Enter supplier name") }}
            {{ fav_form.submit(class="submit_button", value="Add") }}
        </form>

          <div class="favourite form">
    </div>

<h1>Blacklisted Suppliers</h1>
  <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Supplier name</th>
                        </tr>
                        {% for i in current_blacklist %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.supplier_name }}</td>
                                <form method="POST">
                <td><button type="submit" name="remove_blacklist" value="{{ i.supplier_name }}"
                            formmethod="POST">Remove</button></td>
                   </form>
                            </tr>
                        {% endfor %}
                    </table>
        <form method="POST">
             {{ blacklist_form.csrf_token() }}
            {{ blacklist_form.blacklist_supplier(class="input", placeholder="Enter supplier name") }}
            {{ blacklist_form.submit(class="submit_button", value="Add") }}
        </form>


        <h4 class="title is-4">Security Logs</h4>
            {% if logs %}
                <table class="table">
                    <tr>
                        <th>Last 10 Security Log Entries</th>
                    </tr>
                    {% for entry in logs %}
                        <tr>
                            <td>{{ entry }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
{% endblock %}