{% extends "base.html" %}

{% block header %}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">#}
{% endblock %}

{% block content %}
<div class="bg">
    <h1>Login</h1>
    <div class="login_box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
    {% if not session['logins'] or session['logins'] < 3 %}
        <form method="POST">
             {{ form.csrf_token() }}
            <form method="POST">
                    <div class="field">
                        <div class="control">
                            {{ form.email(class="input", placeholder="Email") }}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
            <div class="field">
                        <div class="control">
                            {{ form.password(class="input", placeholder="Password") }}
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
            </div>
            <div class="form_submit">
                {{ form.submit(class="submit") }}
            </div>
        </form>
    {% endif %}
        <p>
            Need an account? <a href="{{ url_for('users.register') }}">Register here</a>
        </p>
        </form>
    </div>
</div>

{% endblock %}