{% extends "base.html" %}


{% block header %}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">#}
{% endblock %}



{% block content %}
    <h1>Search</h1>
    <div class="search forms">
        <form method="POST">
            {{ form.part_number(class="input", placeholder="Part") }}
            <div class="quantity_search">
                {{ form.quantity(class="quantity_input", placeholder="Quantity") }}
                {{ form.models(class="quantity_input", placeholder="No. of models") }}
            </div>
        </form>
    </div>
    <div class="file_upload">
        <span class="or">or</span>
        <form method="POST">
            {{ form.upload(class="upload") }}
        </form>
    </div>
{% endblock %}
